body{
    background-image: url("../static/images/menuBGRD.jpg");
    color: red;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}

table{
    border: 2px solid red;
}