<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/desert/add" method="post" th:object="${desert}">

    <input type="text" th:field="*{idDesert}" hidden="hidden"> <br>
    <input type="text" th:field="*{nameUa}" placeholder="nameUA"> <br>
    <input type="text" th:field="*{nameEn}" placeholder="nameEN"> <br>
    <input type="number" th:field="*{price}" placeholder="price"><br>

    <label th:if="${desert.idDesert == null}">
        <input type="submit" value="Add desert">
    </label>
    <label th:unless="${desert.idDesert == null}">
        <input type="submit" value="Update desert">
    </label>
</form>
<a href="http://localhost:8080">BACK</a>
</body>
</html>