<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table{
            border: 1px solid black;
        }
        td{
            border:1px solid black;
        }
    </style>
</head>
<body>
<h2>Clients</h2>

<table>
    <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Birthday</th>
        <th>Address</th>

    </tr>
    <tr th:each="client: ${clients}">
        <td th:text="${client.getName()}"></td>
        <td th:text="${client.getPhone()}"></td>
        <td th:text="${client.getBirthday()}"></td>
        <td th:text="${client.getAddress()}"></td>
        <td><a th:href="@{/client/update/{id}(id=${client.getIdClient()})}">Update</a></td>
        <td> <a th:href="@{/client/delete/{id}(id=${client.getIdClient()})}"> Delete</a></td>
    </tr>
</table>
<a href="http://localhost:8080">BACK</a>
</body>
</html>